.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.margin-top-small {
  margin-top: 3.25px !important;
}

.margin-top {
  margin-top: 6.5px !important;
}

.margin-top-x1 {
  margin-top: 13px !important;
}

.margin-top-x2 {
  margin-top: 26px !important;
}

.margin-bottom-x1 {
  margin-bottom: 13px !important;
}

.margin-bottom-x2 {
  margin-bottom: 26px !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.hide {
  display: none;
}
