$fontBase: 'Graphik LGC', Arial, sans-serif;
$fontAccent: 'Graphik LGC M', Arial, sans-serif;


$colorGrey2: #A2A2B9;
$colorGrey1: #2E2E3C;
$colorBg: #F1F1F4;

$colorText: $colorGrey1;

$colorBlue: #007EFE;
$colorBlueHover: transparentize($colorBlue, 0.8);

$colorRed: #FF5247;
$colorRedHover: transparentize($colorRed, 0.8);

$colorGreen: #01D520;
$colorWhite: #FFFFFF;
